*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/public/data/node_modules/
/app/public/data/tp-android-feddouliwiam-firebase-adminsdk-fbsvc-ae03964e27.json
/app/public/data/google-services.json.base64
 
 